<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Lector-Libro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Detalles del Lector-Libro</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${lectorLibro.id}"></dd>

            <dt class="col-sm-2">Lector</dt>
            <dd class="col-sm-10" th:text="${lectorLibro.lector.nombre} + ' ' + ${lectorLibro.lector.apellido}"></dd>

            <dt class="col-sm-2">Libro</dt>
            <dd class="col-sm-10" th:text="${lectorLibro.libro.nombre}"></dd>

            <dt class="col-sm-2">Día de Préstamo</dt>
            <dd class="col-sm-10" th:text="${lectorLibro.diaPrestamo}"></dd>

            <dt class="col-sm-2">Día de Devolución</dt>
            <dd class="col-sm-10" th:text="${lectorLibro.diaDevolucion}"></dd>
        </dl>

        <a th:href="@{/lectorLibros/edit/{id}(id=${lectorLibro.id})}" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/lectorLibros}" class="btn btn-outline-secondary">Regresar</a>
    </div>
</div>
</body>
</html>
